<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenList.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F1956BEFACA0765EA1312A484F76D78F7CA1B3B3</string>
				<key>dateExpires</key>
				<string>11/7/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F1956BEFACA0765EA1312A484F76D78F7CA1B3B3</string>
						<key>dateExpires</key>
						<string>11/7/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CRDT.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B3PWYBKFUK</string>
						<key>name</key>
						<string>Codesquad Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>B3PWYBKFUK.kr.codesquad.boostcamp8.OpenList.OpenList</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>B3PWYBKFUK</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>OpenList.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c2f18d10-f261-4ea2-8cfe-0d6ad86b4ad7</string>
				<key>dateExpires</key>
				<string>12/13/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: kr.codesquad.boostcamp8.OpenList.OpenList</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>B3PWYBKFUK</string>
				<key>name</key>
				<string>Codesquad Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
