<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenList.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A4470EFFFC8B57E705F9756443052C60B780FD98</string>
				<key>dateExpires</key>
				<string>11/7/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>B3PWYBKFUK.kr.codesquad.boostcamp8.OpenList.OpenList</string>
				<key>com.apple.developer.team-identifier</key>
				<string>B3PWYBKFUK</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>OpenList.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c5560154-8c5b-4694-9fb1-103ae8a8f938</string>
				<key>dateExpires</key>
				<string>11/15/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>B3PWYBKFUK</string>
				<key>name</key>
				<string>Codesquad Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>0.0.1</string>
		</dict>
	</array>
</dict>
</plist>
